*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
body
{
    height: 100vh;
    background: linear-gradient(
        to bottom
    , rgba(213,27,16,1) 47%, rgba(0,0,0,1) 50% 
    );
}
.calculator
{   border: 2px ridge rgb(213,27,16);
    width:450px;
    height: 590px;
    background-color: rgba(0,0,0,1) ;
    padding: 50px,30px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0px 40px 70px rgba(0,0,0,1);
}
.display{
    width: 100%;
}
.display>input
{
    width: 100%;
    padding: 45px 20px;
    text-align: right;
    border: none;
    background-color: transparent;
    font-size: 50px;
    font-weight: bold;
    color: #fff;

}
.display input:placeholder{
    color: #fff;
}

.buttons
{
  display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(65px,auto);
    margin-top: 40px;
}
input[type="button"]
{
   font-size: 30px;
   padding: 17px;
   border: none;
   background-color: transparent;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
input[type="button"]:hover
{
    box-shadow: 0 0 20px rgba(213,27,16,1) ;
   background-color: rgba(213,27,16,1) ;
}
input[type="button"]#equal
{ 
    grid-column: span 2;
    background-color: rgba(213,27,16,1) ;
     ;
}